$button-color-border: grey;
$button-color: grey;
$button-color-primary: green;
$button-color-secondary: violet;
$button-padding: 5px 10px; 

.button {
    text-decoration: none;
    display: inline-block;
    border: 1px solid $button-color-border;
    color: $button-color;
    padding: $button-padding;

    &.button--primary {
        color: $button-color-primary;
        border-color: $button-color-primary;
    }

    &.button--secondary {
        color: $button-color-secondary;
        border-color: $button-color-secondary;
    }
}

